body{
    margin: 0;
}
.info{
    background-color: rgba(168, 165, 165, 0.349);
}
.prime, .edu, .work{
    border-bottom: 2px solid goldenrod;
}
.border-light{
    border: 2px solid rgb(245, 209, 6);
    background-color: white;
}
.progress{
    height: 6px;
}
.progress-bar.html{
    background-color: rgb(167, 13, 13);
    width: 80%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.gitlab{
    background-color: rgb(167, 13, 13);
    width: 70%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.bootstrap{
    background-color: rgb(167, 13, 13);
    width: 85%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.wordpress{
    background-color: rgb(167, 13, 13);
    width: 60%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.javascript{
    background-color: rgb(167, 13, 13);
    width: 55%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.photoshop{
    background-color: rgb(167, 13, 13);
    width: 50%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.react{
    background-color: rgb(167, 13, 13);
    width: 60%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.freecad{
    background-color: rgb(167, 13, 13);
    width: 68%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.arduino{
    background-color: rgb(167, 13, 13);
    width: 70%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.creativite{
    background-color: rgb(167, 13, 13);
    width: 90%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.lead{
    background-color: rgb(167, 13, 13);
    width: 60%;
    border-right: 2px solid rgb(240, 187, 13);
}
.progress-bar.com{
    background-color: rgb(167, 13, 13);
    width: 70%;
    border-right: 2px solid rgb(240, 187, 13);
}
.logo1{
    font-size: 40px;
    color: white;
    margin: 1%;
}
.logo2{
    font-size: 60px;
    border-bottom: 4px solid rgb(230, 178, 8);
    padding: 1%;
}
.logo3{
    font-size: 35px;
}